#plugged-popup-root iframe .frame-root, #plugged-popup-root iframe .my-extension {
  height: 100%;
}

#plugged-popup-root iframe html {
  background-color: rgb(250, 250, 250);
  height: 100%;
}

#plugged-popup-root iframe body {
  margin: 0;
  padding: 0;
  outline: none;
  height: 100%;
}

#plugged-popup-root{
  width: 360px;
  height: calc(100% - 30px);
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 2147483647;
  background-color: white;
  margin: 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 6px;
}

#plugged-popup-root iframe {
  width: 100%;
  height: 100%;
  border: none;
}
