.plugged__popup__save_page_gif {
  max-width: 11em;
}

.plugged__popup__save_description {
  color: #606060;
	font-size: 14px;
	text-align: center;
  line-height: 1.3;
  margin-top: 1.5em;
}

.plugged__popup__save_submit_store_description {
  color: #606060;
	font-size: 14px;
	text-align: center;
  line-height: 1.3;
  margin-top: 2.5em;
  word-wrap: break-word;
}

.plugged__popup__save_page_container {
  text-align: center;
  padding: 2.5em;
}

.plugged__popup__save_supported_stores {
  cursor: pointer;
  font-weight: bold;
}
